body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  /*cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  */
  cursor: url("https://i.imgur.com/TlcA2Xs.png"), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 /* THE CONTAINER */

 .container-fluid{
  padding-left: 7em;
  padding-right: 7em;
}


/* GAMEVIEW*/
.gameView {
  text-align: center;
  margin: 0px;
}

.gameView #gameQuestion {
  margin-bottom: -30px; 
}


.gameView img {
  max-width: 100%;
  border-radius: 15px;
}

#pantzLife {
  margin-top:40px;
  margin-bottom: 40px;
}

.h0 {
  font-size: 1000%;
}

.result {
  margin: 10px;
  font-size: large;
}


/* White box with the actuall game */
#gamePlay {
  background-color: rgba(255, 255, 255, 0.897);
  padding: 20px;
  padding-top:50px;
  border-radius: 70px;

  /* Shadow: */
  -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
}

.gameView h5{ /* Track title */
  text-align: center;
}

#gamePlay img { /* Track image */
  /* Shadow: */
  -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
}

/* STARTVIEW */
.startView {
  text-align: center;
}

.startView img {
  max-width: 80%;
}

.infotext {
  margin-top: 40px;
}

.nameForm {
  max-width: 20%;
}

.highscoreButton {
  margin: 20px;
}

/* HIGHSCORE */
.highScoreView .tableBox {
  background-color: rgba(255, 255, 255, 0.897);
  padding: 20px;
  padding-top:50px;
  border-radius: 70px;
  -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.3);
}

.highScoreView img {
  margin-bottom: -50px; 
  max-width: 100%;
}

/* MODAL */
.modal-content{
  border-radius: 35px;
}

.modal-content button{
  color: #520207;
  font-weight: bold;
  border-width: 3px;
  border-color: #520207;
  border-radius: 10px;
  background-image: linear-gradient(to top, #9a0003 0%, #fe5d65 100%);}

.modal-body{
  font-size:xx-large;
    font-weight: bold;

  text-align: center;
  -webkit-text-stroke: 2px #00000062;
  text-shadow: 0px 0px 6px #000000ad;
}

.modal-body .innerText{
  font-size: medium;
  font-weight: normal;
  -webkit-text-stroke: 0px #00000089;
  text-shadow: 0px 0px 0px #000000;

}